.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5d3e2;
}

.logo {
  float: left;
  height: 75px;
}

.logo img {
  width: 175px;
  vertical-align: top;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #acbac9;
}

.nav-item:hover a {
  color: black;
}
