.navbar {
  width: 100%;
  display: flex;
  background-color: #c5d3e2;
}

.logo {
  height: 75px;
}

.nav-links {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  list-style: none;
}

.nav-item a {
  font-size: 1rem;
  font-weight: 600;
  color: #8c9aa9;
  text-decoration: none;
  padding: 20px;
}

.nav-item:hover a {
  color: black;
}
